### install ###

bunch
inflection==0.2.0
pymongo>=2.6.0
https://github.com/surfly/gevent/archive/1.0rc3.zip#egg=gevent-1.0dev
https://github.com/gregbanks/deltaburke/archive/master.zip#egg=deltaburke-0.1.0
https://github.com/gregbanks/maker-py/archive/master.zip#egg=maker_py-0.1.2

### test ###

mock
nose
ipdb

