### install ###

bunch
inflection==0.2.0
pymongo>=2.5.2
https://github.com/gregbanks/maker-py/archive/v0.1.2.zip#egg=makerpy-0.1.2
https://github.com/surfly/gevent/archive/1.0rc2.zip#egg=gevent-1.0
-e git+https://github.com/gregbanks/deltaburke@master#egg=deltaburke-0.1.0
-e git+https://github.com/gregbanks/maker-py@master#egg=maker_py-0.1.2

### test ###

mock
nose
ipdb

